@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0px; 
}

.cabecalho {
  background-color: #F5C800;
   
}
.borda {
  background-color: #3536A0;

}
.borda h1{
  text-align: center;
}

.cabecalho img {
  background-color: whitesmoke; 
  width: 700px;
  border-radius: 50px;
}