@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0 auto;
}

.cabecalho {
  background-color: #F5C800;
  padding: 1rem;
  text-align: center;  
}

.cabecalho img {
  background-color: whitesmoke; 
  width: 100%;
  max-width: 400px;
  border-radius: 30px;
  margin: 0 auto;
}

.borda h1{
  text-align: center;
  font-size: 24px;
}

/*Linhas para tornar o cabeçalho responsivo*/
@media (max-width: 768px){
  .cabecalho img {
    width: 80%;
  }
  .borda h1 {
    font-size: 18px;
  }
}

@media (max-width: 480px){
  .cabecalho img {
    width: 60%;
  }
  .borda h1 {
    font-size: 14px;
  }
}

.menu1 {
  background-color: #3536A0;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  
}

.menu1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu1 li {
  margin-right: 10px;
}

.menu1 a {
  color: #F5C800;
  text-decoration: none;
  transition: color 0.2s ease;
}

.menu1 a:hover {
  color: #ccc;
}

/*Linhas para tornar o menu responsivo*/
@media (max-width: 768px){
  .menu1 ul {
    flex-direction: column;
  }
  .menu1 li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.menu2{
  background-color: #3536A0;
  padding: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.menu2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; 
}

.menu2 li {
  position: relative;
}

.menu2 a {
  text-decoration: none;
  color: #F5C800;
}

.menu2 li:hover {
  background-color: #2F2F7F;
  
  transition-duration: 500ms;
  border-radius: 20px;
}

/*Linhas para tornar o menu responsivo*/
@media (max-width: 768px){
  .menu2 ul {
    flex-direction: column;
  }
  .menu2 li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.img-esquerda {
  margin-top: 1rem ;
  padding-right: 300px;
  padding-bottom: 500px;
  margin-right: 1500px;
  width: 3rem;
  height: 6rem;
  background-image: url("/images/estradavert.png");
  background-size: 100% 100%;
  border-style: groove; 
}

.rodape div {
  text-align: left;
  background-color: #32324B;
  padding: 1em;  
}

.outra-div h2{
  text-align: center;
}

.outra-div li {
  margin-left: 13rem;
}

.rodape ul li {
  list-style: none;
  padding: 1em;
}

.rodape a {
  color: #ffffff;
  text-decoration: none;
}

.rodape a:hover {
  color: #F5C800;
  transition-duration: 500ms;
  border-style: solid;
}

.copy {
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
}

/* media queries */
@media (max-width: 768px) {
  .img-esquerda {
    padding-right: 10%;
  }
  .borda-direita {
    margin-left: 10%;
  }
}

@media (max-width: 480px) {
  .img-esquerda {
    padding-right: 5%;
  }
  .borda-direita {
    margin-left: 5%;
  }
}

.sec1 {
  background-color: #F5C800;
  width: 76.6rem;
  height: 600px;
  margin-top: -618px;
  margin-left: 375px; 
}

.sec2 {
  background-color: #2F2F7F;
  width: 100rem;
  height: 500px;
  margin-top: 1rem;
  margin-left: 0; 
}

.rodape {
  margin-top: 1rem;
  background-color:#BAA82F;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.text-rodape h2{
  margin-top: -4rem;
  margin-left: 3rem;
  margin-bottom: 0;
  margin-right: 0; 
}

.text-rodape p{
  margin: 0 0 0 5rem;
}

.text-rodape img {
  margin-left: -2rem;
  margin-top: -1rem;

}

.txt-contato {
  margin-right: 6rem;
}

.txt-contato ul {
  margin-top: -15px;
  padding: 0px;
}

.txt-contato li:hover {
  background-color: #2F2F7F;
  padding: 1px;
  border-radius: 40px;
  transition-duration: 1000ms;
}

