@charser "UTF-8";

body {
  background-color: var(--cor4);
  font-family: Verdana, sans-serif;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;   
}
.direta, .esquerda {
  padding: 25px;
  box-sizing: border-box;
}

.esquerda {
  background-color: var(--cor3);
}

.direita {
  background-color: var(--cor5);
  text-align: center;
  
}

.telefone {
  padding: 1px;
  text-align: center;
  margin: auto;
  width: 185px;
 
}

.telefone a:hover {
  background-color: rgb(153, 132, 63);
  transition-duration: 500ms;
}

#numero {
  color:var(--cor3);
  text-decoration: none;
  font-family:OCR A 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/*Root das paletas de cores do tipo monocromático*/
:root {
  --cor1: #F5D400;
  --cor2: #CAB422;
  --cor3: #A09235;
  --cor4: #756D3B;
  --cor5: #4B4732;
  --cor6: #33322B; 
}

.nav-menu {
  list-style:none;
  padding: 0;
  margin: 0;
  background-color: var(--cor2);
  border-radius: 20px;
  width: 650px;
  margin: auto;
  text-align: center;
  border: 1px solid #33322B;
}

.nav-menu li { 
  display: inline;;
}

.nav-menu a {
  display: inline-block;
  padding: 20px;
  color:var(--cor5);
  text-decoration: none;
  font-family:OCR A 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.nav-menu a:hover {
  background-color: var(--cor1);
  transition-duration: 600ms;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:var(--cor3); 
  margin: auto;
}

.section1, .section2 {
  padding: 60px;
  box-sizing: border-box;
  margin: auto;
  width: 70%; 
}

.sidebar {
  float: right;
  width: 200px;
  background-color: var(--cor6);
  padding: px;
}

.titulo2 {
  font-size: 16pt;
  padding: 7px 7px;
  color: var(--cor2);
  text-align: center;
  text-shadow:2px 2px 0px #33322B;
}

#fim {
  background-color: rgb(22, 21, 21);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 5px;
}

#direitos {
  font-size: 10pt;
  text-align: center;
  color: whitesmoke;  
}

.outro-menu {
  list-style-type: none;;
  background-color: var(--cor2);
  margin: auto;
  text-align: center;
  border-radius: 45px;
  width: 75%;
  border: 1px solid ;
}

.outro-menu li{
  display: inline-block;
  padding: 10px 10px; 
}

.outro-menu a { 
  padding: 10px;
  color:var(--cor5);
  text-decoration: None ;
}

.outro-menu a:hover {
  background-color: var(--cor1);
  transition-duration:700ms;
  width: 10%;
  border-radius: 55px;
}

#insti {
  text-align: left; 
}

.txt {
  text-align: justify;
  font-weight: 800px;
  padding-right: 40px;
  line-height: 200%;
}

.centro{
  background-color: var(--cor3);
  padding:60px;
  box-sizing: content-box;
 
}

.secao { 
  margin: auto;
  width: 40%;
}

.links {
  background-color: var(--cor1);
  text-decoration: none;
  border-radius: 50px;
  color: #756D3B; 
}

