.container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 2rem;
  h1 {
    font-weight: 400;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    padding: 0.5rem;
    color: #000000;
    width: 180px;
    text-align: center;
    background-color: #df7701;
    border-radius: 5px;
  }
  p {
    font-weight: 300;
    a {
      text-decoration: none;
      background-color: #df7701;
      padding: 0.5rem;
      color: #000000;
      border-radius: 5px;
      transition: all 0.5s ease;
      &:hover {
        filter: brightness(1.4);
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2rem;
    p {
      text-align: justify;
      a {
        font-size: 1rem;
      }
    }
  }
}
