.mySwiper {
  margin-top: 3rem;
  max-width: 1300px;
  img {
    width: 100%;
  }
}

@media(max-width: 400px){
  .mySwiper {
    margin-top: 2rem;
    img {
      width: 100%;
      height: 140px;
    }
  }
}