@import url("global.css");

footer {
  padding: 1rem;
  background-color: #313131;
  color: #e7e7e7;
  
  .titulo_rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      em {
        font-weight: bold;
      }
    }
    h2 {
      font-weight: lighter;
      font-size: 1.5rem;
    }
  }

  .lista-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    justify-items: center;
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        transition: all 0.5s ease;
        &:hover {
          color: #a1980e;
        }
      }
    }
  }

  div {
    ul {
      list-style: none;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}

.direitos {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: 1rem;
  width: 100%;
  font-weight: 300;
}

@media (max-width: 768px) {
  footer {
    margin-top: 3rem;
    
    .titulo_rodape {
      img {
        width: 50px;
      }
      h1 {
        font-size: 2rem;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 1.25rem;
      }
    }

    .lista-links {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }

    div {
      ul {
        padding: 2rem; /* Reduzindo o padding */
      }
    }
  }
}

@media (max-width: 480px) {
  footer {
    .titulo_rodape {
      img {
        width: 40px; /* Ajustando o tamanho da imagem */
      }
      h1 {
        font-size: 1.8rem; /* Reduzindo o tamanho da fonte */
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 1rem; /* Ajustando o tamanho da fonte */
      }
    }

    .lista-links {
      grid-template-columns: 1fr; /* Exibindo 1 coluna em telas pequenas */
      padding: 1rem; /* Ajustando padding */
    }

    div {
      ul {
        padding: 1.5rem; /* Ajustando padding */
      }
    }
  }
}
