/*Estilo para o Formulário de Contato*/
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -20px;
  h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    border: 1px solid #94949480;
    border-radius: 2px;
    padding: 2rem;
    width: 100%;
    max-width: 1050px;
    .single-textarea {
      width: 100%;
      position: relative;
      label {
        font-size: 1.05rem;
        position: absolute;
        font-weight: 300;
        padding: 0.5rem;
        left: 0;
        color: #666;
        cursor: text;
        transition: 0.3s ease-in-out;
      }
      .textarea {
        background-color: #f0f0f0a1;
        &:focus + label,
        &:valid ~ label {
          transform: translateY(-30px);
          font-size: 1rem;
          color: #c7ab0e;
        }
        &:focus {
          border: 1px solid #e6c929;
        }
        border: 0;
        outline: 0;
        width: 100%;
        resize: none;
        font-size: 1.2rem;
        padding: 10px;
        color: #666;
        border: 2px solid #6d6d6d3f;
        border-radius: 15px;
        min-height: 120px;
      }
    }
  }
  .group-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;

    .input-content {
      position: relative;
      width: 100%;
      max-width: 300px;
      min-height: 50px;
      .input {
        width: 100%;
        min-height: 50px;
        font-size: 18px;
        border: 0;
        border-bottom: 1px solid #94949480;
        outline: none;
        padding: 12px 0; // Dá espaço para o label flutuar acima
        &:focus + .label-input,
        &:valid + .label-input {
          transform: translateY(-24px);
          font-size: 14px;
          color: #c7ab0e;
        }
        &:valid {
          border-bottom: 1px solid #e6c929;
        }
        &:focus {
          border-bottom: 1px solid #e6d543;
        }
      }
      .label-input {
        font-size: 1.05rem;
        font-weight: 300;
        position: absolute;
        left: 0;
        top: 0;
        color: #9b9b9b;
        cursor: text;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .single-input {
    width: 100%;
    margin: 30px 0;
    position: relative;
    margin-bottom: 2.5rem;
    .input {
      width: 100%;
      padding: 5px;
      height: 50px;
      font-size: 18px;
      background-color: #f0f0f0a1;
      color: #666;
      border: 0;
      border-bottom: 1px solid #6d6d6d3f;
      outline: 0;
      &:focus ~ label,
      &:valid ~ label {
        transform: translateY(-24px);
        font-size: 14px;
        color: #c7ab0e;
      }
      &:valid {
        border-bottom: 1px solid #e6c929;
      }
      &:focus {
        border-bottom: 1px solid #e6d543;
      }
    }
    label {
      font-size: 1.05rem;
      font-weight: 300;
      position: absolute;
      left: 0;
      color: #666;
      cursor: text;
      transition: 0.3s ease-in-out;
    }
  }
  .buttons {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    button {
      padding: 1rem;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      background-color: #e7d533;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        filter: brightness(1.1);
      }
    }
    button[type="submit"] {
      border: none;
      padding: 1rem;
      font-size: 1.2rem;
      background-color: #e7d533;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}
