.container {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333333b6;
  }
  .formulario-contato {
    padding: 2rem;
    border: 2px solid #11111125;
    border-radius: 10px;
    width: 100%;
    max-width: 800px; /* Limita a largura do formulário */
    div {
      margin-bottom: 1rem;
      input {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        margin-bottom: 1rem; /* Adiciona espaçamento entre inputs */
        border: 1px solid #33333346;
        border-radius: 10px;
      }
    }
    textarea {
      width: 100%;
      height: 200px;
      font-size: 1rem;
      border: 1px solid #33333346;
      border-radius: 10px;
      resize: none;
    }
    .btns {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      button {
        padding: 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button:nth-child(1) {
        background-color: #ff2727;
        font-weight: bold;
        border: 2px solid black;
        transition: all 0.5s ease;
        &:hover {
          filter: brightness(1.25);
          color: #d1d1d1b0;
          cursor: pointer;
        }
      }
      button:nth-child(2) {
        background-color: #00ff00;
        font-weight: bold;
        border: 2px solid black;
        transition: all 0.5s ease;
        &:hover {
          filter: brightness(1.25);
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 2rem;
    margin-top: 5rem;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .formulario-contato {
    padding: 1.5rem;
    margin-bottom: 4rem;
    max-width: 100%; /* Garante que o formulário ocupe toda a largura da tela */
  }
  .formulario-contato div {
    margin-bottom: 2rem;
    width: 100%;
  }
  .formulario-contato input {
    width: 100%;
    margin-bottom: 1rem;    
  }
  textarea {
    max-width: 100%;
    height: 75px;
  }
  .btns {
    flex-direction: column;
    align-items: center;
    button {
      width: 100%;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      padding: 1rem;
    }
    button:nth-child(1),
    button:nth-child(2) {
      font-size: 1rem;
    }
  }
}
