.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem; 
}

.links h1 {
  font-size: 2rem;
}

.links ul li {
  list-style: none;
  margin-top: 2rem;
}

.links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

@media(max-width: 480px){
  .links {
    padding: 0;
  }
  .link h1 {
    font-size: 1rem;
    text-align: center;
  }
  .links ul li a {
    font-size: .75rem;
  }
}