#infos_container {
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;
  .infos {
    display: grid;
    grid-template-columns: repeat(1fr);
    align-items: center;
    gap: 2rem;
    h1 {
      text-transform: uppercase;
      text-align: center;
    }
    h2 {
      text-transform: uppercase;
      text-align: center;
    }
    p {
      text-align: justify;
      width: 100%;
      font-size: 1.55rem;
    }
  }
  .meios_contato {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    list-style: none;
    align-items: center;
    font-size: 1.25rem;
    #whatsapp {
      a {
        padding: .7rem;
        background-color: #167004;
        text-decoration: none;
        color: #f8f8f8;
        border-radius: 5px;
        transition: .5s;
      }
      a:hover {
        background-color: #51744a;
      }
    }
  }

}
