@charset "utf-8";
@import url(root.css);

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 1rem;
  box-sizing: border-box;
}

.title > h1 {
  font-size: 4rem;
  font-weight: 300;
  color: var(--cor-titulo);
  text-align: center;
  margin: 0;
}

.title > h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--cor-titulo);
  text-align: center;
  margin: 0;
}

.title > p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--cor-txt);
  margin: 0;
}

.container {
  padding: 1rem;
  max-width: 1000px;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ebebeb63;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
  box-sizing: border-box;
}

.form .input-group {
  padding: 1rem;
  box-sizing: border-box;
}

.input-group {
  position: relative;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.input-group > .input {
  font-size: 1.25rem;
  width: 100%;
  padding: 0.55rem;
  color: var(--cor-txt);
  border: none;
  border-bottom: 1px solid var(--cor5);
  font-weight: 300;
  transition: all 0.5s ease;
  outline: 0;
  box-sizing: border-box;
}

.label-input {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-56%);
  transition: transform 0.5s ease, font-size 0.5s ease;
  color: var(--cor-label);
  pointer-events: none;
}

.input:focus {
  border-bottom: 1px solid var(--cor1);
}

.input-group > .input:focus + .label-input,
.input-group > .input:valid + .label-input {
  font-size: 0.8rem;
  transform: translateY(-50px);
  color: var(--cor2);
}

.buttons {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.buttons > button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--cor-btn);
  transition: all 0.5s ease;
  color: #000000;
}

.buttons > button:hover {
  filter: brightness(1.2);
}

.input-group > .textarea {
  width: 100%;
  height: 250px;
  font-size: 1.25rem;
  padding: 1rem;
  border: 2px solid var(--cor3);
  border-radius: 15px;
  transition: all 0.5s ease;
  resize: none;
  outline: none;
}

.input-group > .textarea:focus {
  border: 2px solid var(--cor1);
}

.input-file {
  padding: 2rem;
  border: 2px solid var(--cor3);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.input-file:hover {
  border-color: var(--cor1);
}

.file {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.file:hover {
  color: var(--cor2);
}

@media (max-width: 480px) {
  .title > h1 {
    font-size: 3.5rem;
  }
  .title > h2 {
    font-size: 1.75rem;
  }
  .title > p {
    font-size: 1.1rem;
  }
  .container {
    padding: 1.2rem;
    margin: 15px auto;
  }
  .form {
    padding: 1.2rem;
  }
  .input-group > .input {
    font-size: 1.1rem;
  }
  .buttons > button {
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
  }
}
