:root {
  --cor0: #f2f2f2;
  --cor1: #f2c029;
  --cor2: #f2ae2e;
  --cor3: #736a4f;
  --cor4: #585859;
  --cor5: #20201d;
  --hover-color-menu: #ac830a;
  --card-destaque: #00000050;
  --cor-titulo: #616161;
  --cor-txt: #313131;
  --cor-btn: #f2ae2e;
}
