:root {
  --cor0: #f5ea22;
  --cor1: #cac33e;
  --cor2: #a09c4c;
  --cor3: #75734b;
  --cor4: #4b4a3c;
  --cor5: #33332a;
  --hover-color-menu: #a0991ac5;
  --card-destaque: #00000050;  
  --cor-titulo: #616161; 
}
