@charset "UFT-8";
@import url(root.css);

.title {
  text-align: center;
  font-size: 24px;
  padding: 2rem;
  color: var(--cor-titulo);
}

.servicos-destaque {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.servicos-destaque > .servicos {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px var(--card-destaque);
  transition: all 0.5s ease;
}

.servicos-destaque > .servicos:hover {
  transform: scale(1.05);
}

.servicos-destaque > .servicos > a {
  text-decoration: none;
  color: #333;
  text-align: center;
}

.servicos-destaque > .servicos > a > img {
  margin: auto;
}

.servicos-destaque > .servicos > a > span {
  font-size: 1.25rem;
}

.acesso-servicos {
  width: 20%;
  padding: 0.65rem;
  text-decoration: none;
  color: #333333;
  border-radius: 10px;
  border: 1px solid #616161;
  display: flex;
  margin: 2rem auto;
  transition: all 0.5s ease;
  justify-content: center;
}

a.acesso-servicos:hover {
  background-color: #616161;
  color: #fff;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.25rem;
  }
  .servicos-destaque {
    display: flex;
    flex-direction: column;
  }
  .servicos-destaque > .servicos {
    margin: 1rem 0;
    width: 45%;
    height: 25vh;
  }
  .servicos-destaque > .servicos > a > span {
    width: 100%;
    font-size: 0.85rem;
  }
  .servicos-destaque > .servicos > a > img {
    width: 40%;
  }
  .acesso-servicos {
    width: 80%;
  }
}
