.news {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 5rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .articles {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 1px 1px 10px #cccccc;
    border-radius: 5px;

    h2 {
      font-style: italic;
      padding: 1.2rem;
    }

    p {
      padding: 1rem;
      text-align: justify;
    }

    img {
      width: 100%; // Garante que a imagem ocupe toda a largura disponível
      padding: 1rem;
    }

    a {
      text-decoration: none;
      color: #002;
      border: 1px solid #ccc;
      padding: 0.5rem;
      border-radius: 5px;
      transition: 0.5s;

      &:hover {
        background-color: #999999;
      }
    }
  }
}

// Media query para telas menores que 850px
@media (max-width: 850px) {
  .news {
    width: 100%;
    padding: 2rem; // Garante que a área não fique muito apertada

    .articles {
      max-width: 100%; // Permite que as colunas se expandam
    }

    .articles h2 {
      font-size: 1rem;
    }

    .articles p {
      font-size: 0.8rem;
    }

    .articles img {
      width: 100%; // Permite que as imagens ocupem toda a largura disponível
      max-width: 100%; // Garante que a imagem ocupe a largura total
    }

    .articles a {
      font-size: 0.7rem;
    }
  }
}

// Media query para telas muito pequenas (480px ou menos)
@media (max-width: 480px) {
  .news {
    width: 100%;
    padding: 1rem; // Ajusta o padding para telas menores

    .articles {
      max-width: 100%;
    }

    .articles h2 {
      font-size: 1rem;
    }

    .articles p {
      font-size: 0.7rem;
    }

    .articles img {
      width: 100%; // Garante que as imagens ocupem toda a largura disponível
      max-width: 100%;
    }

    .articles a {
      font-size: 0.6rem;
    }
  }
}
