/* Formulário */
.form-container {
  display: flex;
  flex-direction: column; 
  max-height: 400vh;
  padding: 2rem;
  gap: 1rem;
  background: var(--cor2);
  border-radius: 2rem;
  max-width: 45rem;
  box-sizing: border-box;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.2rem;
}

label,
input,
textarea,
button {
  display: block;
  height: 3rem;
}

input,
textarea,
button {
  width: 100%;  
}

input,
textarea {
  margin-bottom: 1rem;
  color: #f8f8ff;
  background-color: #323644;
  border: 0.125rem solid transparent;
  border-radius: 0.525rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #8b8b8b;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 1rem;
  color: #f8f8ff;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  background-color: #cfab08;
  color: #000000;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 100px;
  transition: .4s;
}

button:hover,
button:focus {
  background-color: #a08c19;
}

button:disabled {
  cursor: not-allowed;
  background-color: #a08c19;
}

.success {
  color: #0011ff;
}

.error {
  color: #ff0000;
}

.success,
.error {
  text-align: center;
}