/* Formulário */
.form-container {
  display: flex;
  flex-direction: column; 
  max-height: 400vh;
  padding: 2rem;
  gap: 1rem;
  background: var(--cor2);
  border-radius: 2rem;
  max-width: 45rem;
  box-sizing: border-box;
  margin: 5% auto; /* Centraliza o formulário */
  font-size: 1.2rem;
}

label,
input,
textarea,
button {
  display: block;
  height: 3rem;
}

input,
textarea,
button {
  width: 100%;  
}

input,
textarea {
  margin-bottom: 1rem;
  color: #f8f8ff;
  background-color: #323644;
  border: 0.125rem solid transparent;
  border-radius: 0.525rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #8b8b8b;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 1rem;
  color: #f8f8ff;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  background-color: #cfab08;
  color: #000000;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 100px;
  transition: .4s;
}

button:hover,
button:focus {
  background-color: #a08c19;
}

button:disabled {
  cursor: not-allowed;
  background-color: #616161;
}

.success {
  color: #0011ff;
}

.error {
  color: #ff0000;
}

.success,
.error {
  text-align: center;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .form-container {
    padding: 1.5rem; /* Menos padding em telas menores */
    font-size: 1rem; /* Ajusta o tamanho da fonte */
  }

  label,
  input,
  textarea,
  button {
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
  }

  textarea {
    min-height: 10rem; /* Reduz a altura mínima do textarea */
  }

  button {
    padding: 0.5rem 1rem; /* Ajusta o padding do botão */
  }
}

@media (max-width: 480px) {
  .form-container {
    margin: 5% 2%; /* Menos margens em telas muito pequenas */
  }
}
