.container {
  max-width: 1050px;
  width: 100%;
  padding: 5rem;
  margin: 0 auto;
  h1 {
    text-align: center;
    font-weight: 400;
    padding: 1rem;
  }
  h2 {
    padding: 1rem;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
  }
  textarea {
    max-width: 800px;
    max-height: 30vh;
    border: 2px solid #a3a3a3;
    border-radius: 5px;
    text-overflow: none;
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 20px;
    margin: 0 auto;
    border: none;
    background-color: #f8c14b;
    transition: all 0.6s ease;
    height: 60px;
    justify-content: center;
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
  }
  form {
    .temp_ou_perm {
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      label {
        gap: 1rem;
      }
    }
    input {
      border: 2px solid #a3a3a3;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    border: 2px solid #7a7a7ab9;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .med_infos {
      display: grid;
      grid-template-columns: repeat(1fr);
      padding: 1rem;
      height: 400px;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    .def_infos {
      label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }
      }
      display: grid;
      grid-template-columns: repeat(1fr);
      gap: 1.5rem;
      align-items: center;
      margin-bottom: 2.5rem;
      margin-top: 2.5rem;
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  textarea {
    max-width: 100%;
    max-height: 20vh;
  }

  button {
    max-width: 150px;
    height: 50px;
  }

  form {
    padding: 1rem;

    .temp_ou_perm {
      flex-direction: column;
      align-items: flex-start;
    }

    input {
      width: 100%;
    }

    .med_infos {
      width: 100%;
      height: 140px;
    }

    .def_infos {
      display: grid;
      grid-template-columns: repeat(1fr);
      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }
}
