/* Cabeçalho */

.header {
  display: flex;
  flex-wrap: wrap;
  background-image: url("/assets/images/estrada.png");
  background-size: cover; 
  padding: 2em;
}

.header img {
  width: 100%; 
  max-width: 400px; 
  height: auto;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  border-radius: 30px;
}

#current-date {
  text-transform: uppercase;
  font-size: 1rem; 
  font-weight: 900;
}

.welcome {
  background-color: var(--cor5);
  text-align: center;
  padding: 0.5em; 
  margin: auto;
}

.welcome h2 {
  color: var(--cor1);
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5rem; 
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    padding: 1em;
  }

  #current-date {
    font-size: 0.875rem; 
  }
}
