@charser "UTF-8";

body {
  background-color: snow;
  font-family: Arial;
  margin: auto;
}

#cab {
  padding: 10px;
  background-image:linear-gradient(90deg, #756D3B 10%,#33322B 10%, #A09235 10% ) ;
 
}

:root {
  --cor1: #F5D400;
  --cor2: #CAB422;
  --cor3: #A09235;
  --cor4: #756D3B;
  --cor5: #4B4732;
  --cor6: #33322B;
  
}

.nav-menu {
  list-style:none;
  padding: 0;
  margin: 0;
  background-color: var(--cor2);
  border-radius: 50px;
  width: 580px;
  margin: auto;
}

.nav-menu li { 
  display: inline;;
}

.nav-menu a {
  display: inline-block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.nav-menu a:hover {
  background-color: var(--cor5);
}